<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">견적문의 및 문의사항</h2>
                <h3 class="section-subheading text-muted">견적문의 및 문의사항을 남겨주세요</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <img src="../img/paper.jpg" alt="명함">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center" style="font-size: medium; color: white;>
                <p>이메일주소 : <a href="mailto:jdj5957@daum.net">jdj5957@daum.net</a></p>
                <p>카카오톡 아이디 : jdj5957</p>
                <p>연락처 : 010-4103-5957</p>
            </div>
        </div>
    </div>
</section>