
부모 요소를 제거하고 이미지를 표시하는 코드를 아래와 같이 수정할 수 있습니다. 이미지는 화면 전체 너비에 맞게 표시됩니다.

html
Copy code
<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">S.D.C</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <img src="img/1.png" class="img-responsive" alt="">
                <img src="img/2.png" class="img-responsive" alt="">
            </div>
        </div>
    </div>
</section>
